<div [ngClass]="themeClass" class="main-page-container">
    <div class="indicators-content">
        <div class="list-container">
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let indicator of indicators">
                    <div class="list-item-box">
                        <span class="indicator-name">{{indicator.name}}</span>
                        <div class="indicator-actions">
                            <mat-radio-button (change)="showIndicatorsDetail(indicator.id, 'detail')">Ver Historial</mat-radio-button>
                            <mat-radio-button (change)="showIndicatorsDetail(indicator.id, 'graphic')">Ver Gráfica</mat-radio-button>
                        </div>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
        
        <div class="info-container">
            <div *ngIf="isLoadingContent" class="info-container__loading">
                <mat-spinner diameter="60" color="primary"></mat-spinner>
            </div>
            <div class="info-container__animation" *ngIf="!hasSelectedIndicator && !isLoadingContent; else infoContainer;">
                <!-- Animación SVG de barras animadas -->
                <svg width="320" height="180" viewBox="0 0 320 180">
                    <g>
                        <rect x="30" y="100" width="30" height="60" fill="#1976d2">
                            <animate attributeName="y" values="100;60;100" dur="1.5s" repeatCount="indefinite" />
                            <animate attributeName="height" values="60;100;60" dur="1.5s" repeatCount="indefinite" />
                        </rect>
                        <rect x="80" y="80" width="30" height="80" fill="#42a5f5">
                            <animate attributeName="y" values="80;40;80" dur="1.5s" repeatCount="indefinite" begin="0.3s" />
                            <animate attributeName="height" values="80;120;80" dur="1.5s" repeatCount="indefinite" begin="0.3s" />
                        </rect>
                        <rect x="130" y="120" width="30" height="40" fill="#1976d2">
                            <animate attributeName="y" values="120;80;120" dur="1.5s" repeatCount="indefinite" begin="0.6s" />
                            <animate attributeName="height" values="40;80;40" dur="1.5s" repeatCount="indefinite" begin="0.6s" />
                        </rect>
                        <rect x="180" y="60" width="30" height="100" fill="#42a5f5">
                            <animate attributeName="y" values="60;100;60" dur="1.5s" repeatCount="indefinite" begin="0.9s" />
                            <animate attributeName="height" values="100;60;100" dur="1.5s" repeatCount="indefinite" begin="0.9s" />
                        </rect>
                        <rect x="230" y="90" width="30" height="70" fill="#1976d2">
                            <animate attributeName="y" values="90;50;90" dur="1.5s" repeatCount="indefinite" begin="1.2s" />
                            <animate attributeName="height" values="70;110;70" dur="1.5s" repeatCount="indefinite" begin="1.2s" />
                        </rect>
                    </g>
                </svg>
            </div>
            <ng-template #infoContainer>
                <router-outlet (activate)="onChildActivate($event)"></router-outlet>
            </ng-template>
        </div>
    </div>
</div>

